.scrollup {
  position: fixed;
  bottom: -20%;
  right: 2.5rem;
  background: var(--title-color);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  padding: 0.5rem 0.8rem;
  transition: 0.4s;
}
.scrollup_icon {
  color: var(--container-color);
  font-size: 1.5rem;
}
.scrollup:hover {
  background: var(--title-color-dark);
}
.show_scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .scrollup_icon {
    font-size: 1.25rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .show_scroll {
    bottom: 4rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .show_scroll {
    right: 1rem;
  }
}
